<meta charset="UTF-8">
<% if (typeof title !== 'undefined' && title !== null) { %>
    <title><%= title %> | Newsletter</title>
<% } else { %>
    <title>Newsletter</title>
<% } %>
<link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.2">
<style>
  body { padding:50px; }
</style>