# Mail Server Configuation (REQUIRED)
# Easiest way to get this up and running is with Gmail, see README...
SMTP_HOST="smtp.gmail.com"
SMTP_USER=""
SMTP_PASS=""
NEWSLETTER_TITLE="My Newsletter"

# PostgreSQL Setup
POSTGRES_HOST="127.0.0.1"
POSTGRES_USERNAME=""
POSTGRES_PASSWORD=""
POSTGRES_PORT=5432
POSTGRES_DB="nodenews"

# Port (REQUIRED)
PORT=

# Social Media URLs
FACEBOOK_URL=""
INSTAGRAM_URL=""
TWITTER_URL=""

# Background Image
BACKGROUND_IMAGE=""

# Admin login details (REQUIRED)
ADMIN_USERNAME=""
ADMIN_PASSWORD=""