<!DOCTYPE html>
<html lang="en">
    <!-- Barebones: not using the bootstrap or custom stylesheets -->
    <head>
        <title>Authentication Required</title>
    </head>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <body>
        <h1>Sign In</h1>
        <span style="color:red;">**** WARNING! This is a restricted page. ****</span>
        <form method="post">
            <label for="fname">Username</label><br>
            <input type="text" id="fname" name="username"><br>
            <label for="lname">Password</label><br>
            <input type="password" id="lname" name="password"><br><br>
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>