<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header.ejs'); %>
    </head>
    
    <body>
        <h1>Thanks!</h1>
        <p>We got your email. You'll start getting our emails soon!</p>
    </body>
    <%- include('partials/footer.ejs'); %>
</html>