<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header.ejs'); %>
    </head>
    
    <body>
        <h1>Newsletter Unsubscribe</h1>
        <p>*** FUTURE IMPLEMENT UBSUBSCRIBE PAGE ***</p>
    </body>
    <%- include('partials/footer.ejs'); %>
</html>